.container {
  @media screen and (min-width: 370px) {
    padding-top: 60px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    max-width: 960px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.background-image {
  @media screen and (min-width: 370px) and (max-width: 1199px) {
    background-image: url('@/shared/components/photos/the-duomo-in-florence-800x800.png');
  }
}

.color-fill {
  background-color: rgba(21, 105, 207, 0.5);
}

.header {
  @media screen and (min-width: 370px) and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 35px;
  }

  background-color: $background-secondary;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  &__navbar {
    padding-left: 21px;
    padding-right: 21px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    text-decoration: none;
    color: $primary-color;
    font-size: 24px;

    display: flex;
    align-items: flex-end;

    position: relative;
  }

  &__logo-title {
    display: contents;
    position: absolute;
    left: 60px;
    top: 15px;
  }
}

.footer {
  @media screen and (min-width: 370px) and (max-width: 1199px) {
    display: none;
  }

  background-color: $background-secondary;
  border-radius: 25px 25px 0px 0px;
  padding-top: 21px;
  padding-bottom: 21px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.navigations {
  display: flex;
  gap: 10px;

  &__link {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: $primary-color;
  }

  &__slash {
    font-size: 24px;
    font-weight: 400;
    color: $primary-color;
  }
}
.contactbar {
  padding-left: 21px;
  padding-right: 21px;
  display: flex;

  justify-content: flex-end;
  gap: 15px;

  &__link {
    display: flex;
    gap: 5px;
    color: $primary-color;
    text-decoration: none;
  }
}
