.container {
  padding-top: 60px;
}

.day-special {
  background-image: url('@/shared/components/photos/the-duomo-in-florence-800x800.png');
  background-size: cover;
}

.day-wrapper {
  background-color: rgba(21, 105, 207, 0.5);
}
