.container {
  @media screen and (min-width: 0px) {
    padding-top: 60px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.background-image {
  @media screen and (min-width: 370px) and (max-width: 1199px) {
    background-image: url('@/shared/components/photos/the-duomo-in-florence-800x800.png');
  }
}

.color-fill {
  @media screen and (min-width: 370px) and (max-width: 1199px) {
    background-color: rgba(21, 105, 207, 0.5);
  }
}

.header {
  @media screen and (min-width: 0px) and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }

  background-color: $background-secondary;
  border-radius: 0px 0px 25px 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__navbar {
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search-logo-container {
    display: flex;
    align-items: center;
    gap: 45px;
  }
}

.footer {
  padding-top: 21px;
  padding-bottom: 21px;

  background-color: $background-secondary;
  border-radius: 25px 25px 0px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__copyright {
    color: $primary-color;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 0px) and (max-width: 767px) {
    display: none;
  }
}

.navigations {
  display: flex;
  gap: 24px;

  &__link {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid $primary-color;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: $primary-color;
    width: 80px;
    text-align: center;
    transition: background-color 0.3s, border 0.3s, color 0.3s;

    @media screen and (min-width: 1200px) {
      width: 171px;
    }

    &:hover,
    &:focus {
      background-color: $primary-color;
      border: 1px solid $background-secondary;
      color: $background-secondary;
    }
  }

  &__slash {
    font-size: 24px;
    font-weight: 400;
    color: $primary-color;
  }
}

.contactbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 15px;

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $primary-color;
    text-decoration: none;
  }
}
