.weather-week {
  background-color: #e6edf5;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__item:first-child {
    background-color: #f1f5fa;
    border-radius: 10px;
  }

  &__list {
    margin-bottom: 15px;
  }

  &__humidity {
    font-size: 14px;
    position: absolute;
    left: 162px;
    color: $light-text-color;
  }

  &__cloud-cover-icon {
    position: absolute;
    left: 144px;
    height: 15px;
    top: 11px;
  }

  &__icon {
    position: absolute;
    left: 115px;
    top: 9px;
  }

  &__question-mark {
    position: absolute;
    right: 12px;
  }

  &__more-btn {
    width: 100%;
    @media screen and (min-width: 1200px) {
      width: 250px;
    }
  }
  * .a-button:hover,
  .a-button:focus {
    color: $primary-color;
    background-color: $background-secondary;
  }

  &__container-btn {
    display: flex;
    justify-content: center;
  }
}

.sorry-modal {
  padding: 20px;

  &__content {
    margin: 0px;
  }
}
