.slider-weather-day {
  &__list {
    display: flex;
    margin-bottom: 25px;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 5px;

    @media screen and (min-width: 1200px) {
      // overflow-x: hidden;
      // flex-wrap: wrap;
      // justify-content: center;
    }
  }

  &__list::-webkit-scrollbar {
    width: 10px;
  }

  &__list::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }

  &__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $background-secondary;
  }

  &__element-title {
    color: $light-text-color;
    font-size: 16px;
    font-weight: 400;
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px 7px 10px 7px;
    &:first-child {
      background-color: #f3f6fa;
      border-radius: 15px;
    }
  }

  &__element-temp {
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
  }

  &__icon-container {
    display: flex;
    gap: 5px;
  }
}
