.container {
  height: 100%;
  background-image: url();
  background-size: 368px 521px;
  background-repeat: no-repeat;
  background-position: right 65px bottom 40%;
}

.weather-location__container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
