.home {
  padding: 0px;

  &__header {
    padding: 0 20px;
    margin-bottom: 35px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }

  &__mobile-search-btn {
    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  &__desctop-search-btn {
    @media screen and (min-width: 330px) and (max-width: 767px) {
      display: none;
    }
  }

  &__content {
    @media screen and (min-width: 1200px) {
      margin-bottom: 35px;
    }
  }
}

.search-bar {
  position: relative;

  &__btn {
    position: relative;
    z-index: 10;
  }

  &__input {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }

    border: 0.5px solid gray;
    height: 38px;
    padding-left: 40px;
    padding-right: 5px;
    position: absolute;
    z-index: 1;

    transition: width 0.3s ease, left 0.3s ease, width 0.3s ease;
    width: 25px;
    border-radius: 25px;
    top: -3px;
    left: -3px;
  }
}

.search-bar:hover .search-bar__input,
.search-bar:focus .search-bar__input {
  width: 240px;
  top: -3px;
  border-radius: 25px;
  left: -4px;
  cursor: pointer;
}
