.weather-day {
  &__now {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    @media screen and (min-width: 1200px) {
      color: $text-color;
    }
  }

  &__big-celsius {
    font-size: 70px;
    font-weight: 400;
  }

  &__container-icon {
    margin-right: 10px;
  }
}

.detail-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;

  &__box {
    width: calc(100vw / 2 - 65px);
    height: 80px;
    background: rgba(127, 163, 207, 0.5);
    border-radius: 20px;
    padding: 25px;
    backdrop-filter: blur(3px);

    @media screen and (min-width: 1200px) {
      width: calc(100% / 2 - 55px);
      background-color: $background-secondary;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &__title {
    font-family: inherit;
    margin-bottom: 5px;
  }

  &__options {
    font-family: inherit;
  }

  &__icon-box {
    margin-bottom: 10px;
  }
}

.hour-degrees {
  color: $primary-color;
  background: rgba(127, 163, 207, 0.5);
  border-radius: 20px;
  padding: 25px;
  backdrop-filter: blur(3px);

  & > .slider-weather-day__list {
    margin-bottom: 0px;
  }

  & * .slider-weather-day__element-title {
    color: $primary-color;
  }

  & * .slider-weather-day__element:first-child {
    background: rgba(127, 163, 207, 0.5);
  }

  @media screen and (min-width: 1200px) {
    background-color: $background-secondary;
  }
}
