.weather-day-modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url('@/shared/components/photos/the-duomo-in-florence-800x800.jpg');
  background-size: cover;
  top: 0;
  left: 0;
  color: #fff;
}

.weather-day-modal__content {
  background: rgba(21, 105, 207, 0.5);
  padding: 40px 5px 5px 5px;
  height: 100%;
}

.weather-day-modal__container-title {
  display: flex;
  justify-content: space-around;
}

.weather-day-modal__container-weather-now {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-day-modal__detail-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.weather-day-modal__detail-info-box {
  width: calc(100vw / 2 - 30px);
  height: 120px;
  background: rgba(127, 163, 207, 0.5);
  border-radius: 35px;
  padding: 10px;
  backdrop-filter: blur(3px);
}

.weather-day-modal__close-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 40px;
  height: 40px;
}

.weather-day-modal__weather-now {
  font-size: 70px;
  font-weight: 400;
}
