.page-day {
  color: $primary-color;

  &__container-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: baseline;
  }
}

.weather-day__btn-back {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 40px;
  height: 40px;
}

.page-day * .sub-title {
  color: $primary-color;
}
