.form-city {
  padding: 20px;

  &__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
  }
  &__input {
    width: calc(100% - 17px);
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
    background-color: #ffffff;
  }

  &__input:hover,
  &__input:focus {
    background-color: #ffffff;
    border: none;
  }

  &__button {
    align-self: center;
  }
}

.form-city__input-error {
  border: 1px solid red;
}

.input-error-message {
  margin: 0px 0px 10px;
  color: #f00;
}
