@import 'normalize.css';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
  color: $text-color;

  @media screen and (min-width: 768px) {
    background-color: $primary-color;
  }
  > * {
    // min-height: 100dvh;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.sub-title {
  font-weight: 400;
  color: $light-text-color;
}

// sizing of map container

.leaflet-container {
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
