@import 'normalize.css';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
  color: $text-color;

  @media screen and (min-width: 768px) {
    background-color: $primary-color;
  }
}

html {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

.container {
  margin: 0 auto;
}

.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.sub-title {
  font-weight: 400;
  color: $light-text-color;
}
